/* src/styles/navbar.css */
.navbar {
  width: 100%;
   background-color: var(--secondary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
}

.navbar-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--quaternary);
  margin: 0;
}

.settings-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--quaternary);
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-button:hover {
  background-color: var(--secondary);
  color: var(--quaternary);
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(60deg); }
}

.settings-button:hover svg {
  animation: spin 0.3s ease-out forwards;
}

.navbar-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.theme-toggle {
  background: none;

  border: none;
  color: var(--quaternary);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: -390px;
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  background-color: var(--secondary);
}

.theme-toggle svg {
  width: 20px;
  height: 20px;
}
.theme-name {
  font-size: 0.9rem;
  text-transform: capitalize;
}
.navbar-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}