
.timer-container {
  width: 600px; /* Large container */
  height: 500px; /* Adjust height as needed */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 60px;
  border-radius: 10px;
}
.timer-wrapper {
  width: 300px; 
  height: 300px;
}
.buttons{
    display: flex;
    gap: 10px;
    margin: auto;
    align-items: center;
    vertical-align: middle;
}
.start-pause{
    min-width: 280px;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #CEAB93;
    color: #FFFBE9;
    font-size: 30px;
    font-weight: 500;
     transition: background-color 0.2s ease;
}
.start-pause:hover {
    background-color: #E3CAA5; 
}
.start-pause span {
    display: inline-block;
    transition: opacity 0.3s ease;
}
.reset {
  width: 50px;  
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #CEAB93;
  color: #FFFBE9;
  padding: 20px 5px;  
  transition: background-color 0.2s ease;
}

.reset:hover {
  background-color: #E3CAA5; 
}


.reset svg {
  width: 22px;
  height: 22px;
}